body
    display: flex
    justify-content: center
    line-height: 1.5
    color: #303133
    font-size: 12px

.col-3
    flex-basis: 30%

.col-4
    flex-basis: 40%

.col-6
    flex-basis: 60%

h4
    margin: .3rem 0;

h2
    font-size: 12px
    margin:  .3rem 0
    
h1
    font-weight: 400
    font-size: 1.4rem

h3
    border-bottom: 1px solid #bcbcbc 
    padding-bottom: .5rem;

ul
    list-style: none

li
    margin:  0.5rem 0;

p
    margin: 0.2rem 0;
